{% load static %}

<!DOCTYPE html>
<script>
	//Togglebar
	function togglebar(){
		var show = document.getElementById("likedlist");
		if (window.getComputedStyle(show).display === "none") {
			return openbar();
			}
		return closebar();
	}

	function openbar(){
	document.getElementById("likelisttopic").style.display = "block";
	document.getElementById("likedlist").style.display = "block";
	}

	function closebar(){
	document.getElementById("likelisttopic").style.display = "none";
	document.getElementById("likedlist").style.display = "none";
	}

	//function for collapsing sidebar depending screen size
	function screenSize(x) {
	if (x.matches) {
		document.getElementById("likelisttopic").style.display = "none";
		document.getElementById("likedlist").style.display = "none";
	}

	else {
		document.getElementById("likelisttopic").style.display = "block";
		document.getElementById("likedlist").style.display = "block";
		}
	}

	var x = window.matchMedia("(max-width: 1030px)")
	screenSize(x)
	x.addListener(screenSize)
</script>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- tab title -->
        <title>Research Website</title>
        <!-- style sheet -->
        <link rel="stylesheet" href="{% static 'research_styles.css' %}">
        <!-- icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
	
    <body>
        <!-- nav bar -->
        <div class="navbar">
            <ul>
                <li class="navlist">
					<a class="WebName" href="../"><i>Website Name.</i></a>
				</li>
				<li class="navlist">
					<a class="navlink" href="/About">About</a>
                </li>
            </ul>   
        </div>
        
        <!-- main page -->
        <div class="main">
			<!--website title-->
            <p>
                <a class="title">Results.</a>
            </p>
			
            <p class="title2">Entity Pairings</p>
			
			<p>
				To view more information about each entity, click on the respective entity, or click on more info
				to view more info regarding both entities.
			</p>
			
            <table class="tableproperty">
				<tr class="tabletopic">
					<th>Topic A</th>
					<th>Topic B</th>
					<th>Combination Score</th>
					<th>Info</th>
				</tr>

				{% for x,y in scores_result.zipped%}
					<tr>
						<td><a href="../SingleKeywordResult/?keyword={{x.0}}">{{x.0}} </a></td>
						{% if x.1 in '-' %}
						<td>{{x.1}} </td>
						<td>{{y}}</td>
						<td><a href="../SingleKeywordResult/?keyword={{x.0}}">more</a></td>
						{% else %}
						<td><a href="../SingleKeywordResult/?keyword={{x.1}}">{{x.1}} </a></td>
						<td>{{y}}</td>
						<td><a href="../KeywordCombination/?keyword_1={{x.0}}&keyword_2={{x.1}}">more</a></td>
						{% endif %}

					</tr>
				{% endfor %}
			</table>
			
			<br><br>
            
			<!-- Like feature coding -->
			<!-- List of liked words/phrases coding -->
			<ul class="likelisttopic" id="likelisttopic">
				<li><div class="like">FAVOURITES</div></li>
				<li>
					<button onclick="refresh()"> Refresh </button>
					&nbsp;
					<button onclick="emtpylist()"> Clear </button>
				</li>
			</ul>
            <!-- Liked List -->
            <ul class="likelist" id="likedlist">
            </ul>
        </div>
    </body>
	<footer>
		<div class="footer">
			<span class="left">Contact Email : <a href="mailto:hfyma6@nottingham.edu.my">hfyma6@nottingham.edu.my</a></span>
			<span class="right">Created by SEGP Group 4B</span>​
		</div>
	</footer>
</html>

