{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- tab title -->
        <title>Research Website</title>
        <!-- style sheet -->
        <link rel="stylesheet" href="{% static 'research_styles.css' %}">
        <!-- icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
	
    <body>
        <!-- nav bar -->
        <div class="navbar">
            <ul>
                <li class="navlist">
					<a class="WebName" href="../"><i>Website Name.</i></a>
				</li>
				<li class="navlist">
					<a class="navlink" href="/About">About</a>
                </li>
            </ul>
        </div>
		
        <!-- main page -->
        <div class="main">
            <!-- website title -->
            <p>
                <a class="title">{{query}}</a>
            </p>
			
			<p>Return to <a href="javascript:history.back()">Results 1</a></p>
			
			<br>
            <!--other features-->
			
			<!-- Like feature coding -->
			<!-- List of liked words/phrases coding -->
			<ul class="likelist">
				<li><div class="like">Liked Lists e.g.</div></li>
				<li>Deep Learning</li>
				<li>BlockChain</li>
				<li>Data Mining</li>
				<li>Artifial Intelligence</li>
				<li>Centralized</li>
				<li>Decentralized</li>
				<li>Internet security</li>
				<li>Privacy</li>
				<li>Solar Energy</li>
				<li>Renewable Energy</li>
			</ul>
			
			<div class="graph">
				{% autoescape off %}
				{{ graph.graph1 }}
				{% endautoescape %}
			</div>
			
			
			<table div class="tablepropertyV">
				<tr>
					<th div class="r2th">Citations</th>
					<td>{{results.average_reader_count}}</td>
				</tr>
			</table>
			<table div class="tablepropertyV">
				<tr>
					<th div class="r2th">Publications</th>
					<td>{{results.num_of_publication}}</td>
				</tr>
			</table>
			<table div class="tablepropertyV">
				<tr>
					<th div class="r2th">Score</th>
					<td>{{results.query_marks}}</td>
				</tr>
			</table>
			
			<!-- List of keyword input & its citation number, published number, and score -->
			<br>
			
			<p class="title2">Research Papers</p>
			
			<table div class="tableproperty">
				<tr div class="tabletopic">
					<th>Title</th>
					<th>Citations</th>
					<th>Date Published</th>
					<th>Link</th>
				</tr>
                {% for w,x,y,z in results.query_paper %}
				<tr>
                    <td>{{y}}</td>
                    <td>{{w}}</td>
                    <td>{{z}}</td>
                    <td><a href="{{x}}">Link</a></td>
				</tr>
                {% endfor %}
			</table>
			<br><br>
			<!-- Citation number coding -->
			<!-- Published number coding -->
			<!-- Score coding -->
			
        </div>
    <!--body end-->
    </body>
	
	<footer>
		<div class="footer">
			<span class="left">Contact Email : <a href="mailto:hfyma6@nottingham.edu.my">hfyma6@nottingham.edu.my</a></span>
			<span class="right">Created by SEGP Group 4B</span>​
		</div>
	</footer>
</html>

